.content {
    color: #626977;
    display: flex;
    text-decoration: none;
    flex-direction: row;
    justify-content: flex-start;
    margin: 10px;
    font-size: 35px;
  }

  .content:hover {
    color: #cecece;
  }
  