.Icon {
    text-align: center;
  }
  
  .Icon-still {
    height: 75px;
  }

  .Icon-tilt {
    height: 75px;
    -webkit-transition: -webkit-transform 0.8s ease-in-out;
    transition: transform 0.8s ease-in-out;
  }
  
  .Icon-tilt:hover {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
  }
  
  .Icon-text-old {
    font-family: 'Special Elite', cursive;
    margin-top: 5px;
    color: azure;
  }
  
  .Icon-text-windows {
    font-family: 'Times New Roman', Times, serif;
    margin-top: 5px;
    color: azure;
  }

  .Icon-header {
    margin: 10px;
  }