.App {
  text-align: center;
}

.App-logo {
  height: 75px;
  -webkit-transition: -webkit-transform 0.8s ease-in-out;
  transition: transform 0.8s ease-in-out;
}

.App-logo:hover {
  -webkit-transform: rotate(10deg);
  transform: rotate(10deg);
}

.Folder-text {
  font-family: 'Special Elite', cursive;
  margin-top: 5px;
  color: azure;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
