.Start-page {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Menu-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Copyright-component {
  position: absolute;
  bottom: 0;
  right: 0;
}

.SourceCode-component {
  position: absolute;
  bottom: 0;
  left: 0;
}

.ReturnButton-component {
  position: absolute;
  top: 0;
  left: 0;
}

.Link-tag {
  text-decoration: none;
}
